* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  /* background: url('https://plus.unsplash.com/premium_photo-1679785709853-0e50df422c1c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODl8fGFjY291bnRzfGVufDB8fDB8fHww'); */
  background: url('https://images.unsplash.com/photo-1607863680198-23d4b2565df0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzB8fGFjY291bnRzfGVufDB8fDB8fHww');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  margin: 10px;
  padding: 10px;
  font-size: 40px;
}
.dropdown {
  margin: 10px;
  padding: 10px;
}

.quarterData {
  width: 500px;
  margin: 10px;
  padding: 10px;
  background: rgb(199, 198, 198);
  color:black;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.quarterData-card {
  margin: 10px;
  padding: 10px;
  background: rgb(145, 144, 144);
  border: none;
  border-radius: 10px;
}

.dataCard {
  margin: 5px;
  padding: 5px;
}